<div class="app-container" *ngIf="showSplashScreenContent">
  <section>
    <h1 class="slogan-title">Welcome to QuizTech!</h1>
    <p class="slogan-subtitle">
      Are you ready to put your web development skills to the test? Join
      QuizTech and take our quizzes on DevOps, front-end and back-end programming right
      now!
    </p>
    <button class="btn-start" (click)="handleRedirectHomePage()">
      Get start
    </button>
  </section>
  <img class="image" src="assets/images/dev.png" alt="alter_computer" />
</div>
<router-outlet> </router-outlet>
