.header-container {
  position: relative;
  width: 100%;
  height: 12.5%;
  background-color: var(--primary-background-color);
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-title, .header-btn-select {
    margin: 2%;
  }

  .header-title{
    margin: auto;
  }

  app-select{
    width: 10%;
    position: relative;
    right: 2%;
  }


}
