<app-header></app-header>
<app-sidenav
[btnAreaSelected]="selectedArea"
[btnTechSelected]="selectedSubject"
[btnDifficultSelected]="selectedDifficult"
  (selectedAreaChange)="handleSelectedArea($event)"
  (selectedSubjectChange)="handleSelectedSubject($event)"
  (selectedDifficultChange)="handleSelectedDifficult($event)"
></app-sidenav>
<div class="home-container">
  <p>home component here!</p>
  <p>Area: {{selectedArea}}</p>
  <p>Subject: {{selectedSubject}}</p>
  <p>Difficult: {{selectedDifficult}}</p>
</div>
