<app-header></app-header>
<app-sidenav
  [isStartedQuiz]="startQuiz"
  [btnAreaSelected]="selectedArea"
  [btnTechSelected]="selectedSubject"
  [btnDifficultSelected]="selectedDifficult"
  (selectedAreaChange)="handleSelectedArea($event)"
  (selectedSubjectChange)="handleSelectedSubject($event)"
  (selectedDifficultChange)="handleSelectedDifficult($event)"
></app-sidenav>
<div class="home-container">
  <div class="info-container">
    <p
      [ngClass]="
        selectedArea !== ''
          ? 'info-item info-selected'
          : 'info-item info-not-selected'
      "
    >
      Area: {{ selectedArea !== "" ? selectedArea : "Not selected" }}
      <img
        [src]="
          selectedArea !== ''
            ? 'assets/images/success-icon.png'
            : 'assets/images/wrong-icon.png'
        "
        alt="icon"
      />
    </p>
    <p
      [ngClass]="
        selectedSubject !== ''
          ? 'info-item info-selected'
          : 'info-item info-not-selected'
      "
    >
      Subject: {{ selectedSubject !== "" ? selectedSubject : "Not selected" }}
      <img
        [src]="
          selectedSubject !== ''
            ? 'assets/images/success-icon.png'
            : 'assets/images/wrong-icon.png'
        "
        alt="icon"
      />
    </p>
    <p
      [ngClass]="
        selectedDifficult !== ''
          ? 'info-item info-selected'
          : 'info-item info-not-selected'
      "
    >
      Difficult:
      {{ selectedDifficult !== "" ? selectedDifficult : "Not selected" }}
      <img
        [src]="
          selectedDifficult !== ''
            ? 'assets/images/success-icon.png'
            : 'assets/images/wrong-icon.png'
        "
        alt="icon"
      />
    </p>
  </div>
  <app-card
    (EmitStartQuiz)="handleStartQuiz()"
    [startQuiz]="startQuiz"
    [theme]="currentThemeName"
    [btnAreaSelected]="selectedArea"
    [btnTechSelected]="selectedSubject"
    [btnDifficultSelected]="selectedDifficult"
  ></app-card>
</div>
