<div class="card-container">
  <ng-container *ngIf="startedQuiz && !isQuizFinished">
    <app-question></app-question>
  </ng-container>
  <ng-container *ngIf="isQuizFinished && startedQuiz">
    <app-result [applicationTheme]="theme"></app-result>
  </ng-container>

  <img
    *ngIf="!startedQuiz"
    class="image-card"
    [src]="
      theme === 'Angular'
        ? 'assets/images/ready-angular.png'
        : theme === 'Vue'
        ? 'assets/images/ready-vue.png'
        : 'assets/images/ready-react.png'
    "
    alt="logo_card"
  />

  <button
    *ngIf="!startedQuiz"
   class="btn-start"
  >
    How does it work?
  </button>
  <button
    *ngIf="!startedQuiz"
    [ngClass]="isSelectedAllOptions ? 'btn-start' : ' btn-start btn-disabled'"
    (click)="handleSendStartQuiz()"
  >
    Get start
  </button>
</div>
