<div class="card-container">
  <ng-container *ngIf="startedQuiz && !isQuizFinished && !isInstructionsOpened">
    <app-question></app-question>
  </ng-container>
  <ng-container *ngIf="isQuizFinished && startedQuiz && !isInstructionsOpened">
    <app-result [applicationTheme]="theme"></app-result>
  </ng-container>
  <ng-container *ngIf="isInstructionsOpened">
    <app-instructions (handleBackOptionsCard)="handleChangeInstrucutonStatus()"></app-instructions>
  </ng-container>

  <img
    *ngIf="!startedQuiz && !isInstructionsOpened"
    class="image-card"
    [src]="
      theme === 'Angular'
        ? 'assets/images/ready-angular.png'
        : theme === 'Vue'
        ? 'assets/images/ready-vue.png'
        : 'assets/images/ready-react.png'
    "
    alt="logo_card"
  />

  <button
    *ngIf="!startedQuiz && !isInstructionsOpened"
   class="btn-start"
   (click)="handleChangeInstrucutonStatus()"
  >
    How does it work?
  </button>
  <button
    *ngIf="!startedQuiz && !isInstructionsOpened"
    [ngClass]="isSelectedAllOptions ? 'btn-start' : ' btn-start btn-disabled'"
    (click)="handleSendStartQuiz()"
  >
    Get start
  </button>
</div>
