<div class="question-container">
<div class="question-description">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem delectus iusto ipsa voluptates asperiores natus similique, nemo, quaerat hic ut ipsam. Iusto sapiente voluptatem ad molestiae odit dignissimos non voluptates?</p>
</div>
<div class="question-alternatives-container">
<button class="question-alternative">A) Lorem ipsum dolor sit amet, consectetur adipisicing elit.</button>
<button class="question-alternative">B) Lorem ipsum dolor sit amet, consectetur adipisicing elit.</button>
<button class="question-alternative">C) Lorem ipsum dolor sit amet, consectetur adipisicing elit.</button>
<button class="question-alternative">D) Lorem ipsum dolor sit amet, consectetur adipisicing elit.</button>
<button class="question-alternative">E) Lorem ipsum dolor sit amet, consectetur adipisicing elit.</button>
</div>
<div class="question-btn-container">
  <button class="question-btn btn-jump">Jump question ( -5points )</button>
  <button class="question-btn btn-confirm">Confirm</button>
</div>
</div>
