<div class="question-container">
  <h3 class="question-number">{{ questionIndex + 1 }}º.</h3>
  <div class="question-description">
    <p>{{ questionsByAttributesSelected[questionIndex].text }}</p>
  </div>

  <div class="question-alternatives-container">
    <h3 class="total-questions">{{ questionIndex + 1 }}/10</h3>
    <button
      *ngFor="
        let alternative of questionsByAttributesSelected[questionIndex]
          .alternatives;
        let i = index
      "
      (click)="handleNewSelectedAlternative(questionIndex, alternative)"
      [ngClass]="
        alternative === selectectedAlternative(questionIndex)
          ? 'question-alternative btn-selected'
          : 'question-alternative'
      "
    >
      {{ getLetterPrefix(i) + ") " + alternative }}
    </button>
  </div>
  <div class="question-btn-container">
    <button
      class="question-btn btn-prev"
      [ngClass]="questionIndex === 0 ? ' btn-disabled ' : ''"
      (click)="handlePrevQuestion()"
    >
      Prev
    </button>
    <button
    *ngIf="questionIndex !== 9"
      class="question-btn btn-next"
      [ngClass]="selectectedAlternative(questionIndex) !== '' && questionIndex !== 9 ? '':'btn-disabled'"
      (click)="handleNextQuestion()"
    >
      Next
    </button>

    <ng-template [ngIf]="questionIndex === 9">
      <button [ngClass]=" selectectedAlternative(questionIndex) !==''? 'question-btn btn-finish' :'question-btn btn-finish btn-disabled'"(click)="handleFinishQuiz()">Finish</button>
    </ng-template>
  </div>
</div>
