<div class="select-container">
  <button
    class="btn-select btn-theme-seleted"
    (click)="handleToggleOpenSelect()"
  >
   {{ getCurrentThemeName()}}
   {{ getCurrentThemeMode()}}
  </button>
  <div
    [ngClass]="
      isSelectOpen
        ? 'select-btn-container select-visible'
        : 'select-btn-container select-hidden'
    "
  >
    <button
      *ngFor="let item of listThemeItems; let i = index"
      [value]="item.theme + ' ' + item.techName"
      (click)="switchTheme(item.techName, item.theme)"
      class="btn-select btn-theme"
      [class.first]="i === 0"
      [class.last]="i === listThemeItems.length - 1"
    >
      <span>{{ item.techName }}</span>
      <mat-icon class="btn-img" *ngIf="item.theme === 'Light'"
        >light_mode</mat-icon
      >
      <mat-icon class="btn-img" *ngIf="item.theme === 'Dark'"
        >dark_mode</mat-icon
      >
    </button>
  </div>
</div>
