<mat-form-field class="select-container" appearance="fill">
  <mat-label>Select theme</mat-label>
  <mat-select>
    <!-- <app-select-item [name]="item.techName" [theme]="item.theme" [icon]="item.icon"></app-select-item> -->
    <mat-option
      *ngFor="let item of listThemeItems"
      [value]="item.techName"
      (click)="switchTheme(item.techName, item.theme)"
    >
      <img src="{{ item.icon }}" alt="icon" />
      <span>{{ item.techName }}</span>
      <img
        src="{{
          item.theme === 'Light'
            ? 'assets/images/lightTheme.png'
            : 'assets/images/darkTheme.png'
        }}"
        alt="theme"
      />
    </mat-option>
  </mat-select>
</mat-form-field>
